<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /aplikasi-blog/
    
    # Don't redirect if it's a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
